name: CI/CD Pipeline (Tests, Lint, & Deploy)

on:
  push:
    # Запускаємо CI/CD на push до обох гілок
    branches:
      - dev
      - main
  pull_request:
    # Запускаємо тільки CI (тести/лінтер) на pull_request до обох гілок
    branches:
      - main

permissions:
  contents: write

jobs:
  # 1. Job для тестування (ci)
  testing:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: xdebug

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install Node Dependencies
        run: npm ci

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Build Assets
        run: npm run build

      - name: Tests
        run: ./vendor/bin/pest


  # 2. Job для лінтування (quality)
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          npm install

      - name: Run Pint
        run: vendor/bin/pint

      - name: Format Frontend
        run: npm run format

      - name: Lint Frontend
        run: npm run lint

  # 3. Job для деплою (deploy)
  deploy:
    name: DO App Deploy
    runs-on: ubuntu-latest

    # Залежності: Запускається тільки після успішного завершення 'testing' та 'linting'
    needs: [ testing, linting ]

    # !!! УМОВА ВИКОНАННЯ: Деплой потрібен ТІЛЬКИ PUSH в main
    if: |
      github.event_name == 'push' && github.ref == 'refs/heads/main' && success()

    steps:
      - name: Confirmation
        run: echo "Deployment triggered by push to main. All checks passed."

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install doctl and Authenticate
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Deploy to DigitalOcean
        run: doctl apps create-deployment 5e7b70f1-e5bf-450b-8223-3ca36f5a36ac
