name: Deploy to DigitalOcean App Platform

on:
  push:
    # Запускаємо тільки при пуші в основну гілку
    branches:
      - main

jobs:
  # Цей job є першим і має зовнішні залежності.
  deploy:
    name: DO App Deploy
    runs-on: ubuntu-latest

    # !!! КЛЮЧОВИЙ МОМЕНТ: needs [ci, quality]
    # Забезпечує, що цей job чекає на успіх job 'ci' та 'quality' з інших файлів.
    needs: [ci, quality]

    # Запускаємо деплой, тільки якщо всі jobs у needs були успішні.
    if: success()

    steps:
      - name: Confirmation
        run: echo "All checks passed successfully. Proceeding to deployment..."

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install doctl and Authenticate
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Deploy to DigitalOcean
        # Використовуйте свій App ID
        run: doctl apps create-deployment 5e7b70f1-e5bf-450b-8223-3ca36f5a36ac
