name: Deploy to DigitalOcean

on:
  push:
    # Деплой запускається лише при пуші в ті гілки, які перевіряються (наприклад, main)
    branches:
      - main

jobs:
  # Job deploy тепер є першим і не має внутрішніх залежностей.
  deploy:
    name: DO App Deploy
    runs-on: ubuntu-latest

    # !!! Ключовий момент: needs гарантує, що цей job почнеться лише після успішного завершення
    # job 'ci' (з tests.yml) та job 'quality' (з lint.yml)
    needs: [ci, quality]

    # Запускаємо деплой, тільки якщо всі jobs у needs були успішні.
    if: success()

    steps:
      - name: Confirmation
        run: echo "Lint (quality) and Tests (ci) passed successfully. Proceeding to deployment..."

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install doctl and Authenticate
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Deploy to DigitalOcean
        run: doctl apps create-deployment 5e7b70f1-e5bf-450b-8223-3ca36f5a36ac
