name: Deploy to DigitalOcean App Platform

on:
  push:
    # Запускаємо тільки при пуші в основну гілку
    branches:
      - main

jobs:
  # Цей job тепер є першим і не має внутрішніх залежностей.
  deploy:
    name: DO App Deploy
    runs-on: ubuntu-latest

    needs: [ci, quality]

    # Запускаємо деплой, тільки якщо всі попередні jobs (ci та quality) успішні.
    if: success()

    steps:
      - name: Confirmation
        run: echo "Lint (quality) and Tests (ci) passed successfully. Proceeding to deployment..."

      - name: Checkout Code
        uses: actions/checkout@v4

      # Крок 1: Встановлення doctl CLI та авторизація
      - name: Install doctl and Authenticate
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      # Крок 2: Ініціація деплою
      - name: Deploy to DigitalOcean
        run: doctl apps create-deployment portfolio
